* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ddd;
}

header .perfil {
    display: flex;
    align-items: center;
    gap: 20px;
}

.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.perfil span {
    font-size: 1rem;
    color: #fff;
}

.perfil i {
    cursor: pointer;
}

.search-bar {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar input {
    padding: 10px;
    width: 48%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
}

.container {
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tituloFormulario {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

.table-container {
    width: 100%;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead {
    background-color: #333;
    color: #fff;
}

table th,
table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 10px 20px;
    margin-top: auto;
    font-size: 0.7rem;
}

@media (max-width: 768px) {

    .menu-icon {
        display: block;
        cursor: pointer;
    }


    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #000;
        padding: 20px;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.show {
        display: flex;
    }


    .perfil {
        flex-direction: row;
        gap: 10px;
    }
}

@media (min-width: 769px) {
    .perfil {
        gap: 15px;
    }

    .perfil i {
        font-size: 1.2rem;
    }
}

.flash-message {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 280px;
    max-width: 90%;
    background: linear-gradient(145deg, #ff5f6d, #ffc3a0);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease-in-out;
    z-index: 1000;
    flex-wrap: nowrap;
    text-align: center;
}

.flash-message.success {
    background: linear-gradient(145deg, #4caf50, #66bb6a);
}

.flash-message.error {
    background: linear-gradient(145deg, #f44336, #e57373);
}

.flash-message i {
    margin-right: 15px;
    font-size: 22px;
}

.flash-message.show {
    display: flex;
    opacity: 1;
    transform: translateX(-50%);
}

.flash-message.hide {
    opacity: 0;
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .flash-message {
        min-width: 250px;
        padding: 12px 15px;
        font-size: 12px;
    }

    .flash-message i {
        font-size: 20px;
        margin-right: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .flash-message {
        min-width: 300px;
        font-size: 14px;
    }

    .flash-message i {
        font-size: 22px;
    }
}

@media (min-width: 1025px) {
    .flash-message {
        min-width: 300px;
        font-size: 16px;
        padding: 15px 30px;
    }

    .flash-message i {
        font-size: 24px;
    }
}

.button-delete {
    padding: 5px 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-delete:hover {
    background-color: #e04e3a;
}

.button-edit {
    padding: 5px 10px;
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-edit:hover {
    background-color: #5284e7;
}
